.project {
    display: flex;
}

.mockup {
    align-items: flex-start;
}

.mockup, .project-text {
    justify-content: center;
    width: calc(50% - 50px);
}

.project-text {
    flex-direction: column;
}

.mockup:nth-child(1) {
    margin-right: 50px;
}

.project-text:nth-child(2) {
    margin-left: 50px;
}

.project-container {
    padding: 20px;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

.project-links {
    margin: 40px 0;
}

.project-links a {
    padding: 5px;
    text-decoration: none !important;
   text-transform: uppercase;
   font-size: 20px;
}
.project-links a:hover {
    border-bottom: 5px solid #ffa818;
}

.project-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-name h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.project-container h3 {
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.project p {
    margin: 25px 0;
}

.project-name h2 {
    box-shadow: inset 0px -5px 0px 0px #ffa818;
}

.row {
    padding: 20px !important;
}
